<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Guest Manage</title>
</head>
<body>
    <!--导航栏-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!--<div class="container">-->
        <div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/event_manage/">Guest Manage System</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li> <a href="/event_manage/">发布会</a> </li>
                    <li class="active"> <a href="/guest_manage/">嘉宾</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">{{ user }}</a>
                    </li>
                    <li>
                        <a href="/logout">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--嘉宾搜索表单-->
    <div class="page-header" style="padding-top: 60px;">
        <div id="navbar-search" class="navbar-collapse collapse">
            <form class="navbar-form" method="get" action="/search_guest_name/">
                <div class="form-group">
                    <input name="name" type="text" class="form-control" placeholder="名称">
                </div>
                <button type="submit" class="btn btn-success">搜索</button>
            </form>
        </div>
    </div>

    <!--嘉宾列表-->
    <div class="row" style="padding-top: 80px;">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>名称</th>
                        <th>手机</th>
                        <th>Email</th>
                        <th>签到</th>
                        <th>发布会</th>
                    </tr>
                </thead>
                <tbody>
                    {% for guest in guests %}
                    <tr>
                        <td>{{ guest.id }}</td>
                        <td>{{ guest.real_name }}</td>
                        <td>{{ guest.phone }}</td>
                        <td>{{ guest.email }}</td>
                        <td>{{ guest.sign }}</td>
                        <td>{{ guest.event }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!--列表分页器-->
    <div class="pagination">
        <span class="step-links">
            {% if guests.has_previous %}
            <a href="?page={{ guests.previous_page_number }}">上一页</a>
            {% endif %}
            <span class="current">
                共{{ guests.paginator.num_pages }}页, 第{{ guests.number }}页.
            </span>
            {% if guests.has_next %}
            <a href="?page={{ guests.next_page_number }}">下一页</a>
            {% endif %}
        </span>
    </div>

</body>
</html>